@media only screen and (min-width: 1585px) {
  header {
    height: 23em;
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(/images/blu-stripes.png);
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 10em;

    border: solid whitesmoke;
    border-radius: 1em;
  }
  
  #avaName {   
    font-size: 2em;
  }
  
  #avaNameChar {
    margin: 0;
    color: white;
  }
  
  #profileAva {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10em;
    color: white;
  }

}

@media only screen and (min-width: 0px) and (max-width: 1585px) {
  
  header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(/images/blu-stripes.png);
    margin-top: 5em;
  }

  #avaName {    
    font-size: 2em;
  }

  #avaNameChar {
    margin: 0;
    color: white;
  }

  #profileAva {
    height: 200px;
    margin-bottom: -25px;
    font-size: 10em;
    color: white;
  }
}
