@media only screen and (min-width: 1585px) {
  nav {
    display: flex;
    height: 5em;
    background-color: black;
    background-image: url(/images/blu-stripes.png);
    color: white;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 5;
  }
  
  .write {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 1.5em;
    font-size: 20px;
  }
  
  #double-down {
    display: flex;
    justify-content: center;
    color: white;
  }

  #compose {
    display: flex;
    width: 10%;
    background-color: transparent;
    border: none;
    margin-left: 3.3em;
  }
  
  .logo {
    margin-top: 20px;
    margin-left: 1em;
    font-size: 2em;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1585px) {
  
  nav {
    display: flex;
    height: 5em;
    background-color: black;
    background-image: url(/images/blu-stripes.png);
    color: white;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 5;
  }

  .write {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 1.5em;
    font-size: 20px;
  }

  #double-down {
    display: flex;
    justify-content: center;
    color: white;
  }

  .logo {
    margin-top: 20px;
    margin-left: 1em;
    font-size: 2em;
  }

  #compose {
    display: flex;
    width: 10%;
    background-color: transparent;
    border: none;
    margin-left: 3.3em;
  }
}
