@media only screen and (min-width: 1024px) {
  #tweet-text {
    display: flex;
    justify-content: center;
  
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    
    border: 0px;
    border-bottom: 4px solid #ffffff;
    
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 15px;
    
    resize: none;
    width: 900px;
    height: 35px;
  }
  
  #tweet-text:focus, input:focus {
    outline:none;
  }
  
  .new-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #alert-140 {
    order: -1;
  }
  
  #alert-null {
    order: -1;
  }
  
  #alert {
    display: flex;
    border: solid rgb(255, 255, 255);
    padding: 7px;
    width: 900px;
    height: 40px;
    justify-content: space-between;
    font-size: 20px;
    color: white;
  }
  
  #alert2 {
    display: flex;
    border: solid white;
    padding: 7px;
    width: 900px;
    height: 40px;
    justify-content: space-between;
    font-size: 20px;
    color: white;
  }
  
  #tweet-form {
    margin-top: 0.5em;   
  }
  #tweet-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  
  #button {
    font-family: 'Bungee', cursive;
    color: white;
    background-color: #4056A1;
  }
  
  #container2 {
    display: flex;
    justify-content: space-between;
  }
  
  #char {
    font-family: 'Bungee', cursive;
    color: white;
  }
  
  #bottom {
    size: 25px;
  }
  
  .tweet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  
  .actual-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 170px;
    margin-top: 40px;
    margin-bottom: 15px;
    border: solid;
    border-color: white;
    border-radius: 1em;
  }
  
  #tweet-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actual-container:hover {
    box-shadow: 5px 5px #ffffffd0;
    transition: 0.3s;
    color: whitesmoke;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 4.6em;
    margin-left: 0;
    margin-right: 4em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    background-image: url(/images/blu-stripes.png);
    border: white solid;
    border-radius: 1em;
  }
  
  #top-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    color: white;
    font-weight: bold;
  }
  
  #ico-name {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
    color: white;
  }
  
  #name {
    margin-left: 9px;
  }
  
  #avatar {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: white solid;
    border-radius: 0.5em;
    background-color: whitesmoke;
  }

  #bottom-box {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  
  #handle {
    display: flex;
    margin-right: 25px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 25px;
    color: #ffffff;
    font-size: 15px;
  }
  
  #date {
    display: flex;
    margin-top: 8px;
    margin-left: 15px;

    font-weight: bold;
    color: white;
  }
  
  #tweet-content {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;
  
    border: 0px;
    border-bottom: 4px solid #ffffff;
    
    background-color: transparent;
    margin-top: 15px;
    margin-left: 5px;
  
    resize: none;
    width: 885px;
    text-indent: 20px;
  }
  
  .fab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    margin-right: 10px;
  }
  
  i.fas.fa-retweet {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  i.fas.fa-retweet:hover {
    transition: 0.3s;
    color: rgba(102, 102, 102, 0.863);
  }
  
  i.fas.fa-flag:hover {
    transition: 0.3s;
    color: rgba(102, 102, 102, 0.863);
  }
  
  i.far.fa-heart:hover {
    transition: 0.3s;
    color: rgba(102, 102, 102, 0.863);
  }
  
  #alert {
    display: flex;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  
#tweet-text {
  display: flex;
  justify-content: center;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;

  border: 0px;
  border-bottom: 4px solid #545149;
  
  background-color: #f4f1ec;
  margin-bottom: 10px;
  margin-top: 15px;

  resize: none;
  width: 600px;
  height: 35px;
}

/* NEED TO CLEAR TWEET TEXT FORM AFTER SUBMIT */
  #tweet-text {
    display: flex;
    justify-content: center;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    
    border: 0px;
    border-bottom: 4px solid #ffffff;
    
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 15px;
    
    resize: none;
    width: 900px;
    height: 35px;
  }

  #tweet-text:focus, input:focus {
    outline:none;
  }

  .new-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #alert-140 {
    order: -1;
  }

  #alert-null {
    order: -1;
  }

  #alert {
    display: flex;
    border: solid rgb(255, 255, 255);
    padding: 7px;
    width: 900px;
    height: 40px;
    justify-content: space-between;
    font-size: 20px;
    color: white;
  }

  #alert2 {
    display: flex;
    border: solid white;
    padding: 7px;
    width: 900px;
    height: 40px;
    justify-content: space-between;
    font-size: 20px;
    color: white;
  }

  #tweet-form {
    margin-top: 0.5em;   
  }
  #tweet-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

  #button {
    font-family: 'Bungee', cursive;
    color: white;
    background-color: #4056A1;
  }

  #container2 {
    display: flex;
    justify-content: space-between;
  }

  #char {
    font-family: 'Bungee', cursive;
    color: white;
  }

  #bottom {
    size: 25px;
  }

  .tweet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .actual-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 170px;
    margin-top: 40px;
    margin-bottom: 15px;

    border: solid;
    border-color: white;
    border-radius: 1em;
  }

  #tweet-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .actual-container:hover {
    box-shadow: 5px 5px #ffffffd0;
    transition: 0.3s;
    color: whitesmoke;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 4.6em;
    margin-left: 1em;
    margin-right: 1em;

    padding: 1em;
    background-color: rgb(0, 0, 0);
    background-image: url(/images/blu-stripes.png);
    border: white solid;
    border-radius: 1em;
  }

  #top-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    color: white;
    font-weight: bold;
  }

  #ico-name {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
    color: white;
  }

  #name {
    margin-left: 9px;
  }

  #avatar {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: white solid;
    border-radius: 0.5em;
    background-color: whitesmoke;
  }

  #bottom-box {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
  }

  #handle {
    display: flex;
    margin-right: 25px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 25px;
    color: #ffffff;
    font-size: 15px;
  }

  #date {
    display: flex;
    margin-top: 8px;
    margin-left: 15px;

    color: white;
    font-weight: bold;
  }

  #tweet-content {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;

    border: 0px;
    border-bottom: 4px solid #ffffff;
    
    background-color: transparent;
    margin-top: 15px;
    margin-left: 5px;

    resize: none;
    width: 885px;
    text-indent: 20px;
  }

  .fab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    margin-right: 10px;
  }

  i.fas.fa-retweet {
    margin-left: 5px;
    margin-right: 5px;
  }

  i.fas.fa-retweet:hover {
    transition: 0.3s;
    color: rgba(102, 102, 102, 0.863);
  }

  i.fas.fa-flag:hover {
    transition: 0.3s;
    color: rgba(102, 102, 102, 0.863);
  }

  i.far.fa-heart:hover {
    transition: 0.3s;
    color: rgba(102, 102, 102, 0.863);
  }

  #alert {
    display: flex;
  }
}
